* {
    list-style-type: none;
    text-decoration: none;
}

form {
    background-color: rgb(220, 220, 220);
    width: 70%;
    margin-left: 15%;
    padding: 2%;
    border-radius: 15px;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none
}

label {
    padding-bottom: 0.5%;
    font-size: 1.5vw;
    margin-left: 5%;
}

input, select {
    width: 90%;
    margin-left: 5%;
    height: 3vh;
}

.image-btn {
    width: 30%;
    height: 3vh;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 15px;
    border: solid 1px rgba(2, 139, 2, 0.866);
    background-color: rgb(138, 252, 140);
    font-weight: bold;   
}

.image-list {
    width: 40%;
    margin-left: 5%;
    margin-top: 0.5%;
    border: solid 1px black;
    background-color: white;
}

.image-list ul li button {
    margin-left: 2%;
    background-color: rgb(253, 137, 137);
    border: solid 1px rgb(255, 0, 0);
}

.image-box {
    display: flex;
}

.image-input-btn-box {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 0.5%;
    margin-left: 4%;
}

.image-input {
    width: 100%;
}

.pattes {
    width: 10%;
    height: 7vw;
}

.btn-pattes-box {
    display: flex;
    justify-content: space-between;
}

.btn-pattes-box button {
    height: 3.5vh;
    width: 10%;
    margin-top: 5%;
    margin-left: 6.5%;
    border-radius: 15px;
    border: solid 1px blue;
    background-color: rgb(163, 206, 243);
}

h1 {
    text-align: center;
}