<div class="unadoped-kitten-item">
    <img class="kitten-first-image" src={{kitten.imageUrls[0]}} alt={{kitten.name}} />
    <button type="button" class="btn-details" (click)="showDetails()">Détails</button>
    <div class="kitten-name-age-box">
        <p>Nom: <span>{{kitten.name}}</span></p>
    </div>
    <div class="kitten-name-age-box">
        <p>Age: <span>{{kitten.age}}</span></p>
    </div>
    <div class="button-box">
        <button *ngIf="!kitten.isAdopted" type="button" class="btn-adopt" (click)="adoptKitten(kitten.id)">Adopter</button>
        <button type="button" class="btn-modify" (click)="editKitten()">Modifier</button>
        <button type="button" class="btn-delete" (click)="deleteKitten(kitten.id)">Supprimer</button>
    </div>
    
</div>
